<%= form_with(model: login_datum, local: true) do |form| %>
  <% if login_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(login_datum.errors.count, "error") %> prohibited this login_datum from being saved:</h2>

      <ul>
      <% login_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Sign Up"%>
  </div>
<% end %>
