<p id="notice"><%= notice %></p>
<p>
  <strong>S no:</strong>
  <%= @candidate_detail.s_no %>
</p>
<p>
  <strong>Src reg:</strong>
  <%= @candidate_detail.src_reg %>
</p>
<p>
  <strong>Zone:</strong>
  <%= @candidate_detail.zone %>
</p>
<p>
  <strong>Dor:</strong>
  <%= @candidate_detail.DOR %>
</p>
<p>
  <strong>Reg no:</strong>
  <%= @candidate_detail.reg_no %>
</p>
<p>
  <strong>Name:</strong>
  <%= @candidate_detail.name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @candidate_detail.gender %>
</p>
<p>
  <strong>Age:</strong>
  <%= @candidate_detail.age %>
</p>
<p>
  <strong>Address:</strong>
  <%= @candidate_detail.address %>
</p>
<p>
  <strong>Branch:</strong>
  <%= @candidate_detail.branch %>
</p>
<p>
  <strong>Email:</strong>
  <%= @candidate_detail.email %>
</p>
<p>
  <strong>Contact no:</strong>
  <%= @candidate_detail.contact_no %>
</p>
<p>
  <strong>State:</strong>
  <%= @candidate_detail.state %>
</p>
<p>
  <strong>Qualification:</strong>
  <%= @candidate_detail.qualification %>
</p>
<p>
  <strong>Specialization:</strong>
  <%= @candidate_detail.specialization %>
</p>
<p>
  <strong>Experience:</strong>
  <%= @candidate_detail.experience %>
</p>
<p>
  <strong>Remarks mobility:</strong>
  <%= @candidate_detail.remarks_mobility %>
</p>
<p>
  <strong>Doc:</strong>
  <%= @candidate_detail.DOC %>
</p>
<p>
  <strong>Status:</strong>
  <%= @candidate_detail.status %>
</p>
<div class="text-center">
<%= link_to 'Edit', edit_candidate_detail_path(@candidate_detail),class:"btn btn-default" %> |
<%= link_to 'Back', candidate_details_path ,class:"btn btn-default"%>
</div>